[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
buo-py-bindings = {path = "./buo_py_bindings-0.1.0-cp39-cp39-linux_x86_64.whl"}
pyqt5 = "*"
pyqtspinner = "*"

[dev-packages]

[requires]
python_version = "3.9"
